.background_container {
  background-image: url("/public/signup/background.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background_container h1 {
  color: rgb(57, 57, 57);
  font-size: 2.2rem;
  text-align: center;
  margin: 7px;
  font-weight: 400;
}

.formBox {
  width: 400px;
  height: 420px;
  border: 0.2px solid rgba(255, 255, 255, 0.781);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  transition: 0.5s ease;
  -webkit-box-shadow: 4px 1px 10px -2px rgba(133, 133, 133, 1);
  -moz-box-shadow: 4px 1px 10px -2px rgba(133, 133, 133, 1);
  box-shadow: 4px 1px 10px -2px rgba(133, 133, 133, 1);
}
.formBox:hover {
  transition: 0.5s ease;
  -webkit-box-shadow: 4px 1px 20px -2px rgba(133, 133, 133, 1);
  -moz-box-shadow: 4px 1px 20px -2px rgba(133, 133, 133, 1);
  box-shadow: 4px 1px 20px -2px rgba(133, 133, 133, 1);
}

@media only screen and (max-width: 600px) and (min-width: 300px) {
  .background_container {
    background-image: none;
    height: 100vh;
    width: 100vw;
  }
}
